.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputContainer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-h3 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.hyphen {
    margin-left: 5px;
    margin-right: 5px;
}

.input-box {
    max-height: fit-content;
    width: fit-content;
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .2em solid #8a8a8a;
    background: rgba(#cacaca, .2);
    border-radius: .2em .2em 0 0;
    padding: .4em;
}

.submit-buttom {
    max-height: fit-content;
    width: fit-content;
    margin-left: 1rem;
    margin-right: 1rem;
}

.text-block {
    display: block;
    margin: 0 auto;
    width: 60vw;
}